html {
    font-size: 18px; /* px means "pixels": the base font size is now 10px */
    font-family: 'Indie Flower', cursive;
    background-color: #28FAF7;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #63F6B2;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    text-shadow: 4px 3px 3px white;
}

h1 {
    margin: 0px;
    font-size: 120px;
    text-align: center;
}

p, li {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: 0 auto;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}